<header class="header">
	<div class="header__left">
		<div class="hamburger"></div>
		<div class="logo">
			<img src="../img/logo-sm.png" alt="night fantasy">
		</div>
	</div>
	<a class="header__order" href="#services">заказать столик <i class="icon icon-Phone"></i></a>		
</header>

<nav class="menu">
	<ul class="menu__list">
		<li class="menu__item">
			<a href="#index" data-id="index" class="menu__link">главная</a>
		</li>
		<li class="menu__item">
			<a href="#afisha" data-id="afisha" class="menu__link">афиша</a>
		</li>
		<li class="menu__item">
			<a href="#girls" data-id="girls" class="menu__link">наши девушки</a>
		</li>
		<li class="menu__item">
			<a href="#party" data-id="party" class="menu__link">мальчишник</a>
		</li>
		<li class="menu__item">
			<a href="#services" data-id="services" class="menu__link">услуги</a>
		</li>
		<li class="menu__item">
			<a href="#contacts" data-id="contacts" class="menu__link">контакты</a>
		</li>
	</ul>
	<div class="btn-close"></div>
</nav>